{% extends 'master.html' %}


{% block title %}Eliminar Empleado{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}



    <div class="container mt-4">

        <div class="alert alert-warning" role="alert">
            <div class="row">
                <div class="col-md-12">
                    <h1>Eliminar persona</h1>
                </div>
            </div>
            <div class="row">
                
                  
                <div class="col-md-12">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar"/>
                        <a href="{% url 'persona_app:empleados_admin' %}" class="btn btn-primary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

